.exam-button-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.exam-button-navlink {
  display: contents;
}
.exam-button-icon {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-bottom: 38px;
  text-decoration: none;
}
.exam-button-icon:active {
  fill: #475569;
}
.exam-button-navlink1 {
  display: contents;
}
.exam-button-icon2 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-bottom: 38px;
  text-decoration: none;
}
.exam-button-icon2:active {
  fill: #475569;
}
.exam-button-navlink2 {
  display: contents;
}
.exam-button-icon4 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
  transition: 0.3s;
  text-decoration: none;
}
.exam-button-icon4:active {
  fill: #475569;
}
.exam-button-root-class-name {
  margin-top: 42px;
  margin-left: var(--dl-space-space-halfunit);
}
.exam-button-root-class-name1 {
  margin-top: 42px;
  margin-left: var(--dl-space-space-halfunit);
}
.exam-button-root-class-name2 {
  margin-top: 42px;
  margin-left: var(--dl-space-space-halfunit);
}

.exam-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.exam-container1 {
  width: 1280px;
  height: 720px;
  display: flex;
  align-items: flex-start;
  background-color: #1E3A8A;
}
.exam-menu {
  width: 85px;
  height: 720px;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #1E3A8A;
}
.exam-navlink {
  display: contents;
}
.exam-container2 {
  width: 70px;
  height: 95px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  border-color: #E2E8F0;
  border-width: 0.5px;
  justify-content: center;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.exam-text {
  color: var(--dl-color-gray-white);
  font-size: 20px;
  transition: 0.3s;
  font-family: Comfortaa;
  font-weight: 700;
  scroll-behavior: smooth;
}
.exam-text:hover {
  color: var(--dl-color-gray-white);
  font-size: 30px;
  border-radius: var(--dl-radius-radius-radius8);
}
.exam-navlink1 {
  display: contents;
}
.exam-icon {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
  margin-top: 350px;
  margin-left: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.exam-container3 {
  flex: 0 0 auto;
  width: 1166px;
  height: 684px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: 18px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #F1F5F9;
}
.exam-container4 {
  width: 1166px;
  height: 61px;
  display: flex;
  align-items: center;
  border-color: #E2E8F0;
  border-style: solid;
  border-width: 1px;
  justify-content: flex-end;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.exam-container5 {
  width: 170px;
  height: 62px;
}
.exam-container6 {
  display: contents;
}
.exam-icon02 {
  fill: #475569;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.exam-icon02:hover {
  fill: var(--dl-color-gray-white);
  width: 30px;
  height: auto;
}
.exam-icon04 {
  fill: #475569;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.exam-icon04:hover {
  fill: var(--dl-color-gray-white);
  width: 30px;
  height: auto;
}
.exam-text01 {
  color: var(--dl-color-gray-black);
  font-size: 22px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: left;
  font-family: "Comfortaa";
  line-height: 1.25;
  margin-left: var(--dl-space-space-fourunits);
}
.exam-text05 {
  color: rgb(71, 85, 105);
  margin-top: var(--dl-space-space-halfunit);
  text-align: left;
  line-height: 1.5;
  margin-left: var(--dl-space-space-fourunits);
}
.exam-navlink2 {
  display: contents;
}
.exam-container7 {
  flex: 0 0 auto;
  width: 425px;
  height: 80px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  transition: 0.3s;
  align-items: center;
  margin-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: flex-start;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.exam-container7:hover {
  width: 450px;
  height: 90px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.exam-container7:active {
  background-color: #E7EFF3;
}
.exam-icon06 {
  fill: #1E3A8A;
  width: var(--dl-size-size-small);
  height: auto;
  margin-left: var(--dl-space-space-oneandhalfunits);
}
.exam-text10 {
  color: rgb(71, 85, 105);
  font-size: 18px;
  margin-left: var(--dl-space-space-twounits);
}
.exam-navlink3 {
  display: contents;
}
.exam-container8 {
  flex: 0 0 auto;
  width: 425px;
  height: 80px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  transition: 0.3s;
  align-items: center;
  margin-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: flex-start;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.exam-container8:hover {
  width: 450px;
  height: 90px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.exam-container8:active {
  background-color: #E7EFF3;
}
.exam-icon08 {
  fill: #1E3A8A;
  width: var(--dl-size-size-small);
  height: auto;
  margin-left: var(--dl-space-space-oneandhalfunits);
}
.exam-text11 {
  color: rgb(71, 85, 105);
  font-size: 18px;
  margin-left: var(--dl-space-space-twounits);
}
