.button1-container {
  width: 80px;
  height: 400px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.button1-navlink {
  display: contents;
}
.button1-icon {
  fill: #38A1BF;
  flex: 1;
  width: 24px;
  align-self: center;
  transition: 0.3s;
  text-decoration: none;
}
.button1-icon:hover {
  fill: #ffffff;
  width: 49px;
  height: 91px;
  padding-top: 0px;
}
.button1-navlink1 {
  display: contents;
}
.button1-icon2 {
  fill: #38A1BF;
  flex: 1;
  width: 24px;
  height: 24px;
  align-self: center;
  transition: 0.3s;
  text-decoration: none;
}
.button1-icon2:hover {
  fill: #ffffff;
  width: 49px;
  height: 91px;
  padding-top: 0px;
  border-radius: 50px;
}
.button1-navlink2 {
  display: contents;
}
.button1-icon4 {
  fill: #38A1BF;
  flex: 1;
  width: 24px;
  height: 24px;
  align-self: center;
  transition: 0.3s;
  text-decoration: none;
}
.button1-icon4:hover {
  fill: var(--dl-color-gray-white);
  width: 49px;
}
.button1-navlink3 {
  display: contents;
}
.button1-icon6 {
  fill: #38A1BF;
  flex: 1;
  width: 24px;
  height: 24px;
  align-self: center;
  transition: 0.3s;
  text-decoration: none;
}
.button1-icon6:hover {
  fill: var(--dl-color-gray-white);
  width: 49px;
}











.plus-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.plus-dashboard {
  width: 1280px;
  height: 720px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #ffffff;
}
.plus-menu {
  width: 85px;
  height: 720px;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  background-color: #98cae8;
}
.plus-navlink {
  display: contents;
}
.plus-container1 {
  top: 6px;
  left: 5px;
  width: 79px;
  height: 95px;
  display: flex;
  position: absolute;
  transition: 0.3s;
  align-items: center;
  border-radius: 30px;
  justify-content: center;
  text-decoration: none;
}
.plus-container1:hover {
  width: 72px;
  height: 98px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  background-color: #ffffff;
}
.plus-text {
  color: rgb(231, 239, 243);
  font-size: 20px;
  transition: 0.3s;
  font-family: Comfortaa;
  font-weight: 700;
  scroll-behavior: smooth;
}
.plus-text:hover {
  color: #AB6D75;
  font-size: 30px;
  border-radius: var(--dl-radius-radius-radius8);
}
.plus-icon {
  fill: var(--dl-color-gray-white);
  width: 40px;
  height: 40px;
  margin-top: 55px;
  transition: 0.3s;
}
.plus-icon:hover {
  fill: #AB6D75;
  width: 59px;
  height: 87px;
  border-radius: 60px;
  background-color: var(--dl-color-gray-white);
}
.plus-container2 {
  width: 1196px;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: #E7EFF3;
  border-width: 2px;
  border-radius: 20px;
  flex-direction: row;
  justify-content: flex-end;
}
.plus-main-board {
  width: 855px;
  height: 720px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.plus-navlink1 {
  display: contents;
}
.plus-image {
  width: 100px;
  object-fit: cover;
  transition: 0.3s;
  margin-right: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.plus-image:hover {
  width: 150px;
}
.plus-navlink2 {
  display: contents;
}
.plus-image1 {
  width: var(--dl-size-size-medium);
  object-fit: cover;
  transition: 0.3s;
  margin-right: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.plus-image1:hover {
  width: 150px;
}
.plus-navlink3 {
  display: contents;
}
.plus-image2 {
  width: var(--dl-size-size-medium);
  object-fit: cover;
  transition: 0.3s;
  margin-right: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.plus-image2:hover {
  width: 150px;
}
.plus-navlink4 {
  display: contents;
}
.plus-image3 {
  width: var(--dl-size-size-medium);
  object-fit: cover;
  transition: 0.3s;
  text-decoration: none;
}
.plus-image3:hover {
  width: 150px;
}
.plus-another {
  width: 355px;
  height: 720px;
  display: flex;
  position: relative;
  align-items: center;
  border-color: #E7EFF3;
  border-style: solid;
  border-width: 2px;
  flex-direction: column;
  justify-content: flex-start;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.plus-container3 {
  width: 218px;
  height: 172px;
  margin-top: var(--dl-space-space-twounits);
}
.plus-container4 {
  display: contents;
}
.plus-container5 {
  width: 310px;
  height: 150px;
  margin-top: var(--dl-space-space-fourunits);
  border-radius: 20px;
}
.plus-container6 {
  display: contents;
}
