.button1-container {
  width: 80px;
  height: 400px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.button1-navlink {
  display: contents;
}
.button1-icon {
  fill: #38A1BF;
  flex: 1;
  width: 24px;
  align-self: center;
  transition: 0.3s;
  text-decoration: none;
}
.button1-icon:hover {
  fill: #ffffff;
  width: 49px;
  height: 91px;
  padding-top: 0px;
}
.button1-navlink1 {
  display: contents;
}
.button1-icon2 {
  fill: #38A1BF;
  flex: 1;
  width: 24px;
  height: 24px;
  align-self: center;
  transition: 0.3s;
  text-decoration: none;
}
.button1-icon2:hover {
  fill: #ffffff;
  width: 49px;
  height: 91px;
  padding-top: 0px;
  border-radius: 50px;
}
.button1-navlink2 {
  display: contents;
}
.button1-icon4 {
  fill: #38A1BF;
  flex: 1;
  width: 24px;
  height: 24px;
  align-self: center;
  transition: 0.3s;
  text-decoration: none;
}
.button1-icon4:hover {
  fill: var(--dl-color-gray-white);
  width: 49px;
}
.button1-navlink3 {
  display: contents;
}
.button1-icon6 {
  fill: #38A1BF;
  flex: 1;
  width: 24px;
  height: 24px;
  align-self: center;
  transition: 0.3s;
  text-decoration: none;
}
.button1-icon6:hover {
  fill: var(--dl-color-gray-white);
  width: 49px;
}











.feature-card11-feature-card {
  width: 327px;
  height: 208px;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  transition: 0.3s;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card11-feature-card:hover {
  transform: scale(1.02);
  box-shadow: 5px 5px 20px 1px #38a1bf;
}
.feature-card11-text {
  margin-bottom: var(--dl-space-space-twounits);
}
.feature-card11-image {
  width: 101px;
  height: 100px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
}
.feature-card11-root-class-name {
  width: 230px;
}

.search-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.search-menu {
  width: 85px;
  height: 720px;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  background-color: #98cae8;
}
.search-navlink {
  display: contents;
}
.search-container1 {
  top: 6px;
  left: 5px;
  width: 79px;
  height: 95px;
  display: flex;
  position: absolute;
  transition: 0.3s;
  align-items: center;
  border-radius: 30px;
  justify-content: center;
  text-decoration: none;
}
.search-container1:hover {
  width: 72px;
  height: 98px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  background-color: #ffffff;
}
.search-text {
  color: rgb(231, 239, 243);
  font-size: 20px;
  transition: 0.3s;
  font-family: Comfortaa;
  font-weight: 700;
  scroll-behavior: smooth;
}
.search-text:hover {
  color: #AB6D75;
  font-size: 30px;
  border-radius: var(--dl-radius-radius-radius8);
}
.search-icon {
  fill: var(--dl-color-gray-white);
  width: 40px;
  height: 40px;
  margin-top: 55px;
  transition: 0.3s;
}
.search-icon:hover {
  fill: #AB6D75;
  width: 59px;
  height: 87px;
  border-radius: 60px;
  background-color: var(--dl-color-gray-white);
}
.search-container2 {
  width: 1195px;
  height: 720px;
  display: flex;
  padding: 16px;
  position: relative;
  align-self: flex-start;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
}
.search-features {
  width: 100%;
  height: 650px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  flex-direction: column;
}
.search-text1 {
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-threeunits);
}
.search-container3 {
  width: 100%;
  height: 207px;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  align-items: flex-start;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.search-component1 {
  text-decoration: none;
}
.search-feature-card {
  width: 230px;
  height: 208px;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  transition: 0.3s;
  align-items: flex-start;
  margin-left: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
}
.search-feature-card:hover {
  transform: scale(1.02);
  box-shadow: 5px 5px 20px 1px #38a1bf;
}
.search-text2 {
  margin-bottom: var(--dl-space-space-twounits);
}
.search-image {
  width: 101px;
  height: 100px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
}
.search-feature-card1 {
  width: 230px;
  height: 208px;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  transition: 0.3s;
  align-items: flex-start;
  margin-left: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
}
.search-feature-card1:hover {
  transform: scale(1.02);
  box-shadow: 5px 5px 20px 1px #38a1bf;
}
.search-text3 {
  margin-bottom: var(--dl-space-space-twounits);
}
.search-image1 {
  width: 101px;
  height: 100px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
}
.search-text4 {
  align-self: stretch;
  margin-top: 200px;
}
@media(max-width: 991px) {
  .search-text1 {
    align-self: center;
  }
  .search-container3 {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .search-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .search-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .search-container3 {
    grid-gap: var(--dl-space-space-halfunit);
  }
}
