.callbutton-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.callbutton-icon {
  fill: #98cae8;
  flex: 1;
  width: 24px;
  height: 24px;
  align-self: center;
  transition: 0.3s;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-fourunits);
}
.callbutton-icon:hover {
  fill: #208dff;
}
.callbutton-icon2 {
  fill: #98cae8;
  flex: 1;
  width: 24px;
  height: 24px;
  align-self: center;
  transition: 0.3s;
  margin-right: var(--dl-space-space-fourunits);
}
.callbutton-icon2:hover {
  fill: #208dff;
}
.callbutton-icon4 {
  fill: #98cae8;
  flex: 1;
  width: 24px;
  height: 24px;
  align-self: center;
  transition: 0.3s;
  margin-right: var(--dl-space-space-fourunits);
}
.callbutton-icon4:hover {
  fill: #208dff;
}
.callbutton-icon6 {
  fill: #98cae8;
  flex: 1;
  width: 24px;
  height: 24px;
  align-self: center;
  transition: 0.3s;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.callbutton-icon6:hover {
  fill: #208dff;
}
