.logo-container {
  width: 203px;
  height: 60px;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: center;
  border-radius: 16px;
  flex-direction: row;
  justify-content: center;
}
.logo-container:hover {
  box-shadow: 5px 5px 15px 1px #38a1bf;
}
.logo-image {
  width: 55px;
  object-fit: cover;
}
.logo-text {
  font-size: 30px;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  line-height: 1.15;
  text-transform: capitalize;
}


.logo-root-class-name2 {
  align-self: flex-start;
}



